
body{
    margin-top: 100px;
}

table{
    width: 350px !important;
}

th{
    text-align: left;
    max-width: 20px
}
td {
  max-width: 100px;
  word-break: 'break-word';
     word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
