.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: black;
    font-size: 18px;
    z-index: 9999;
    left:0;
}
.navbar .container>p {
    margin-bottom: 0px;
}

.navbar-collapse>div>div {
    margin: auto
}